<div class="card card-body col-md-4 offset-4 mt-5 " style="background-color: #fff;">
  <h5 class="card-header " style="background-color: #fff;font-size: 28px;font-weight: bolder;">Add Requirement</h5>
  <div class="card-body">
    <form action="" method="post" #form="ngForm" (ngSubmit)="sendReq(form.value)">
      <div class="form-row mt-3">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="client" name="client" placeholder="Enter Client Name"
            #client="ngModel" ngModel required>

        </div>
        <div class="col" id="client ">

          <select class="custom-select" id="test" name="technology" #technology="ngModel" ngModel>
            <option selected disabled value="">Choose technology</option>
            <option class="non" value="option1">Java full stack</option>
            <option class="non" value="option2">Mean stack</option>
            <option class="non" value="option1">Data science</option>
            <option class="editable" value="other">Other</option>

          </select>
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="yoe" name="yoe" placeholder="Enter your experience "
            #yoe="ngModel" ngModel required>

        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="location" name="location" placeholder="Enter the location Info"
            #location="ngModel" ngModel required>

        </div>
        <div class="form-group col-md-6">
          <input type="number" class="form-control" id="nop" name="nop" placeholder="NUmber of positions" #nop="ngModel"
            ngModel required>

        </div>
        <div class="form-group col-md-6">
          <input type="date" class="form-control" id="odate" name="odate" placeholder="Enter opening date"
            #odate="ngModel" ngModel required>

        </div>

        <div class="form-group col-md-6">
          <input type="date" class="form-control" id="cdate" name="cdate" placeholder="cdate" #cdate="ngModel" ngModel
            required>

        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="role" name="role" placeholder="role" #role="ngModel" ngModel
            required>

        </div>
        <div class="form-group col-md-6">
          <input type="number" class="form-control" id="rate" name="rate" placeholder="rate" #rate="ngModel" ngModel
            required>

        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter client contact person"
            #contact="ngModel" ngModel required>

        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="user" name="user" placeholder="Enter  user " #user="ngModel"
            ngModel required>

        </div>
        <div class="form-group col-md-6">
          <input type="time" class="form-control" id="time" name="time" placeholder="Enter current time "
            #time="ngModel" ngModel required>

        </div>
        <div class="form-group col-md-6">

          <input type="text" class="form-control" id="jd" name="jd" placeholder="Enter job description" #jd="ngModel"
            ngModel required>

        </div>


      </div>
      <div class="float-right">
        <button type="submit" class="btn btn-primary">Create</button></div>

    </form>
  </div>
</div>